<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.flashsale.dao.OrderMapper">

    <select id="getOrderById" resultType="order">
        SELECT o_id, u_id, p_id, number, create_time, status
        FROM flash_sale.Orders
        WHERE o_id = #{orderId};
    </select>

    <select id="getOrderList" resultType="order">
        SELECT o_id, u_id, p_id, number, create_time, status
        FROM flash_sale.Orders;
    </select>

    <select id="getOrderListWithPage" parameterType="page" resultType="order">
        SELECT o_id, u_id, p_id, number, create_time, status
        FROM flash_sale.Orders
        LIMIT #{start}, #{count};
    </select>

    <select id="getOrderListByProductId" resultType="order">
        SELECT o_id, u_id, p_id, number, create_time, status
        FROM flash_sale.Orders
        WHERE p_id = #{productId}
        <if test="filter != null">
            AND status = #{filter}
        </if>
    </select>

    <select id="getOrderListByUserId" resultType="order">
        SELECT o_id, u_id, p_id, number, create_time, status
        FROM flash_sale.Orders
        WHERE u_id = #{userId}
        <if test="filter != null">
            AND status = #{filter}
        </if>
    </select>

    <select id="countOrder" resultType="_int">
        SELECT COUNT(1)
        FROM flash_sale.Orders;
    </select>

    <select id="countOrderByProductId" resultType="_int">
        SELECT COUNT(1)
        FROM flash_sale.Orders
        WHERE p_id = #{productId};
        <if test="filter != null">
            AND status = #{filter}
        </if>
    </select>

    <select id="countOrderByUserId" resultType="_int">
        SELECT COUNT(1)
        FROM flash_sale.Orders
        WHERE u_id = #{userId};
        <if test="filter != null">
            AND status = #{filter}
        </if>
    </select>

    <insert id="addOrder" parameterType="order">
        INSERT INTO flash_sale.Orders(u_id, p_id, number, create_time, status)
        VALUES (#{u_id}, #{p_id}, #{number}, #{create_time}, #{status});
    </insert>

    <update id="updateOrder" parameterType="order">
        UPDATE flash_sale.Orders
        SET status = #{status},
            number = #{number}
        WHERE o_id = #{o_id};
    </update>


</mapper>